* {
  box-sizing: border-box;
}
body {
  background-color: #aaa;
  margin: 0;
  padding: 0;
}
#c {
  margin: auto;
  width: 94%;
}
p {
  font-size: 18px;
  font-family: monospace;
  color: #333;
  padding: 10px;
  padding-top: 8%;
}
h1 {
  font-size: 45px;
  font-family: fantasy;
  font-weight: 200;
  color: #626;
  text-align: center;
  margin-bottom: 30px;
}
h3 {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  float: right;
  width: 40%;
  padding: 2%;
  margin-top: 0;
  border-top-right-radius: 9px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
#h3-1 {
  background-color: #f07;
}
#h3-2 {
  background-color: #32CD32;
}
#h3-3 {
  background-color: #4682B4;
}
section {
  position: relative;
  margin-bottom: 15px;
  border-radius: 10px; 
  border: 1px solid #000;
  background-color: #FFDAB9;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 32%;
  }
  #s1 {
    margin-right: 1%;
  } 
  #s2 {
    margin-left: 1%;
    margin-right: 1%;
  }
  #s3 {
    margin-left: 1%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 48.5%;
  }
  .col-md-12 {
    width: 100%;
  }
  #s1 {
    margin-right: 1.5%;
  }
  #s2 {
    margin-left: 1.5%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
